@model IEnumerable<MP_Group3_StockManagement.Models.Product>

<div class="card mb-3" style="max-width: 18rem;">
    <div class="card-header bg-info">
        <h5 class="card-title">
            Cost of Current Available Stocks
        </h5>
    </div>
    <div class="card-body">
        <p class="card-text">
            <h4>
                ₱@ViewBag.CurrentStocksCost
            </h4>
        </p>
    </div>
</div>
