@{
    ViewBag.Title = "About";
}

<container>
    <div class="card" style="width: 69rem;">
        <div class="card-body">
            <h1 class="card-title">Pepsika</h1>
            <h3 class="card-subtitle mb-2 text-muted">Know about Pepsika</h3>
            <p class="card-text">
                Pepsika is known to be one of the leading dry and wet goods supplier,
                Pepsika is the parent company for hundreds of diverse and beloved brands.
                The company has done a great job transitioning its supply chain capacity to handle more complex products
                to follow consumer trends. Pepsika has developed significant improvements such as sustainability initiatives,
                collaborative production scheduling, setting inventory buffers, and selective procurement and sourcing, to achieve a
                resilient and efficient supply chain.
            </p>
        </div>
    </div>
</container>