@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>EXPLORE OUR PRODUCTS</h1>
    <p class="lead">Are you curious about our products and their nutritional and other information?</p>
    <p class="lead">Check out our page for more details on our products.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>COVID-19</h2>
        <p>
            COVID-19 has brought many changes in our lives, it is our goal to ensure the safety of the products that we deliver to you.
            See more about how we're working to ensure the safety of our supply chain and support communities.'
        </p>
    </div>

    <div class="col-md-4">
        <h2>Pepsika Goes Beyond</h2>
        <p>Pepsika and Beyond Inc. are about to join forces in a new partnership. See more about our goals and plan for the new partnership.</p>
    </div>
    <div class="col-md-4">
        <h2>Pepsika's new agricultural project</h2>
        <p>In Pepsika, we care about mother Earth. Our goal aims to grow different crops to be in help to the Earth. We encourage you to join our community and be of help to our Earth. </p>
    </div>
</div>